<div class="pull-right" *ngIf="columnDataField">
  <div class="dropdown layout-inline">
    <button id="{{columnDataField.name}}Filter" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" (click)="backupColumnFilter()"><span class="glyphicon glyphicon-filter" [ngClass]="getFilterClass()"></span></button>
    <div class="dropdown-menu pad-5" attr.aria-labelledby="{{columnDataField.name}}Filter">
      <form name="filterForm{{columnDataField.name}}" class="form form-inline">
        <div class="row mbottom-5" *ngIf="columnFilter.filterPresent">
          <div class="col-sm-12 text-right">
            <button class="btn btn-link" (click)="clearColumnFilter()">Clear Filter</button>
          </div>
        </div>
        <div class="panel panel-default pad-3 mbottom-5 div-scroll-200" *ngIf="columnFilter.uniqueValues.length > 0">
          <div class="row" *ngFor="let uniqueValue of columnFilter.uniqueValues; trackBy: trackValue">
            <div class="col-sm-12">
              <label class="fw-normal"><input class="checkbox mright-5" type="checkbox" [(ngModel)]="uniqueValue.selected" [ngModelOptions]="{standalone: true, updateOn: 'blur'}" value="false" />{{uniqueValue.value}}</label>
            </div>
          </div>
        </div>
        <div class="row mbottom-5">
          <div class="col-sm-6">
            <div class="checkbox">
              <label><input class="checkbox mright-5" type="checkbox"
								[(ngModel)]="columnFilter.blank"
								[ngModelOptions]="{standalone: true, updateOn: 'blur'}" value="false" />Blank</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="checkbox">
              <label><input class="checkbox mright-5" type="checkbox" [(ngModel)]="columnFilter.notBlank" [ngModelOptions]="{standalone: true, updateOn: 'blur'}" value="false" />Not Blank</label>
            </div>
          </div>
        </div>
        <div *ngIf="columnDataField.inputType == 'Text'">
          <div class="row mbottom-5">
            <div class="col-sm-12">
              <div class="input-group input-group-sm">
                <label class="text-info small mbottom-0" for="{{columnDataField.name}}Contains">Contains</label>
                <input id="{{columnDataField.name}}Contains" class="form-control" type="text" [(ngModel)]="columnFilter.contains" [ngModelOptions]="{standalone: true, updateOn: 'blur'}" />
              </div>
            </div>
          </div>
          <div class="row mbottom-5">
            <div class="col-sm-12">
              <div class="input-group input-group-sm">
                <label class="text-info small mbottom-0" for="{{columnDataField.name}}DoesNotContain">Does Not Contain</label>
                <input id="{{columnDataField.name}}DoesNotContain" class="form-control" type="text" [(ngModel)]="columnFilter.doesNotContain" [ngModelOptions]="{standalone: true, updateOn: 'blur'}" />
              </div>
            </div>
          </div>
          <div class="row mbottom-5">
            <div class="col-sm-12">
              <div class="input-group input-group-sm">
                <label class="text-info small mbottom-0" for="{{columnDataField.name}}StartsWith">Starts With</label>
                <input id="{{columnDataField.name}}StartsWith" class="form-control" type="text" [(ngModel)]="columnFilter.startsWith" [ngModelOptions]="{standalone: true, updateOn: 'blur'}" />
              </div>
            </div>
          </div>
          <div class="row mbottom-5">
            <div class="col-sm-12">
              <div class="input-group input-group-sm">
                <label class="text-info small mbottom-0" for="{{columnDataField.name}}EndsWith">Ends With</label>
                <input id="{{columnDataField.name}}EndsWith" class="form-control" type="text" [(ngModel)]="columnFilter.endsWith" [ngModelOptions]="{standalone: true, updateOn: 'blur'}" />
              </div>
            </div>
          </div>
          <div class="row mbottom-5">
            <div class="col-sm-12">
              <div class="checkbox">
                <label><input class="checkbox mright-5" type="checkbox" [(ngModel)]="columnFilter.ignoreCase" [ngModelOptions]="{standalone: true, updateOn: 'blur'}" value="false" />Ignore Case</label>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="columnDataField.inputType == 'Integer' || columnDataField.inputType == 'Decimal'">
          <div class="row mbottom-5">
            <div class="col-sm-12">
              <div class="input-group input-group-sm">
                <label class="text-info small mbottom-0" for="{{columnDataField.name}}FromNumber">From</label>
                <input id="{{columnDataField.name}}FromNumber" class="form-control text-right" type="number" [(ngModel)]="columnFilter.fromNumber" [ngModelOptions]="{standalone: true, updateOn: 'blur'}" max="{{columnFilter.toNumber}}" />
              </div>
            </div>
          </div>
          <div class="row mbottom-5">
            <div class="col-sm-12">
              <div class="input-group input-group-sm">
                <label class="text-info small mbottom-0" for="{{columnDataField.name}}ToNumber">To</label>
                <input id="{{columnDataField.name}}ToNumber" class="form-control text-right" type="number" [(ngModel)]="columnFilter.toNumber" [ngModelOptions]="{standalone: true, updateOn: 'blur'}" min="{{columnFilter.fromNumber}}" />
              </div>
            </div>
          </div>
        </div>
        <div class="row mtop-5">
          <div class="col-sm-6">
            <button class="btn btn-sm btn-primary" type="submit" (click)="applyColumnFilter()">
							<span class="glyphicon glyphicon-filter mright-5"></span>Apply
						</button>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-sm btn-default pull-right" type="button" (click)="restoreColumnFilter()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
